<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head_fragment(title = ~{::title}, scripts = ~{::script}, links = ~{::link})">
  <title>職員　新規登録</title>
</head>
<body>
    <div class="container">
        <div class="col-8 offset-2">
            <h1 class="">職員　新規登録</h1>
            <form class="col-10 offset-1" th:object="${staffForm}" th:action="@{/TDA1002}" method="post">
                <!--/* ログインエラー時にメッセージを表示 */-->
                <div th:if="${param.error}" class="alert alert-danger">
                    <span th:text="${param.error}"></span>
                </div>
                <div class="form-group">
                   <label for="name">ログインID</label>
                   <input type="text" class="form-control" name="loginid"  th:field="*{loginid}"/>
                   <div class="text-danger" th:if="${#fields.hasErrors('loginid')}" th:errors="*{loginid}"></div>
                </div>
                 <div class="form-group">
                   <label for="name">名前</label>
                   <input type="text" class="form-control" name="name" th:field="*{name}"/>
                   <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                </div>
                <div class="form-group">
                    <label for="password">パスワード</label>
                    <input type="password" class="form-control" name="password" th:field="*{password}"/>
                    <div class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                </div>
                <div>
                    <input type="submit" class="btn btn-primary col" value="登録">
                </div>
            </form>
        </div>
    </div>
</body>
</html>